PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/provisa
CLIENT_URL=http://localhost:5173

# Recipient
MARKETING_INBOX_EMAIL=marketing@provisa.com.np

# EmailJS
EMAILJS_SERVICE_ID=service_c2umit1
EMAILJS_TEMPLATE_ID=template_n95q56m
EMAILJS_PUBLIC_KEY=rFe-t8EnY2t2wUouN
EMAILJS_CONTACT_TEMPLATE_ID=template_aasdnak

# Cloudinary
CLOUDINARY_CLOUD_NAME=drsmgvvgg
CLOUDINARY_API_KEY=447282667442612
CLOUDINARY_API_SECRET=enFusu-LC45GYgqqyEhfseK4l9o

# JWT
JWT_SECRET=provisa_super_secret_2026_key

